<!DOCTYPE html>
<html data-ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav>
        <a href="{{ path('homepage') }}">Order page (example for clients)</a>
        <a href="{{ path('adminindex') }}">Admin page</a>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
            <script src="{{ asset('app.js') }}"></script>
        {% endblock %}
    </body>
</html>
