{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Test form for ordering</h1>
            </div>

            <form ng-model="formData" ng-submit="createOrder()" ng-controller="indexController">
                <div class="field">
                    <label>Facebook ID</label>
                    <input type="text" name="facebook_id" ng-model="facebook_id" />
                </div>
                <div class="field">
                    <label>Currency code</label>
                    <input type="text" name="currency" ng-model="currency" maxlength="4" />
                </div>
                <div class="field">
                    <label>Order amount</label>
                    <input type="text" name="amount" ng-model="amount" />
                </div>
                <div class="field">
                    <label>Is legal entity?</label>
                    <input type="checkbox" name="is_legal_entity" ng-model="is_legal_entity" />
                </div>
                <div class="field" id="params">

                    {#<span>Custom params</span>
                    <label ng-repeat-start="label in labels">Label {{label}}</label>
                    <input ng-model='values[$index]' type='text' value='' />
                    <br ng-repeat-end>#}


                    <div class="param" ng-repeat-start="param in params" >
                        <label>key</label>
                        <input type="text" name="param_key" ng-model="params[$index]['key']"  />
                        <label>value</label>
                        <input type="text" name="param_value" ng-model="params[$index]['value']" />
                    </div>
                    <br ng-repeat-end>
                </div>
                <div>
                    <button type="button" id="add_param" ng-click="addParamField()">Add param</button>
                    <button type="button" id="remove_param" ng-show="params.length>0" ng-click="removeParamField()">Remove param</button>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}



