{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container" ng-controller="adminController" data-ng-init="init()">
            <div id="welcome">
                <h1>Admin side</h1>
            </div>
                <span>Page: {{ '{{ page }}' }} of  {{ '{{ maxPageNum }}' }}</span>
            <div>
                <button ng-disabled="page==1" ng-click="loadOrders(page-1)">Prev</button>
                <input type="number" min="1" max="{{ '{{ maxPageNum }}' }}" name="page" ng-model="toPage"   />
                <button ng-click="gotoPage()" ng-pattern="">Goto</button>
                <button ng-disabled="page>=maxPageNum" ng-click="loadOrders(page+1)">Next</button>
            </div>
            <table>
                <tr>
                    <th>user_facebook_id</th>
                    <th>amount</th>
                    <th>currency</th>
                    <th>is_legal_entity</th>
                    <th>params</th>
                    <th>created_at</th>
                </tr>
                <tr ng-repeat="order in orders">
                    <td>{{ '{{ order.user_facebook_id }}' }}</td>
                    <td>{{ '{{ order.amount }}' }}</td>
                    <td>{{ '{{ order.currency }}' }}</td>
                    <td>{{ '{{ order.is_legal_entity }}' }}</td>
                    <td>{{ '{{ order.params }}' }}</td>
                    <td>{{ '{{ order.created_at }}' }}</td>
                </tr>
                <tr ng-show="isLoading">
                    <td colspan="6">Loading...</td>
                </tr>
            </table>

        </div>
    </div>

{% endblock %}



